<section class="about-us">
  <div class="container">
    <div class="about-us__img borders"></div>
    <div class="about-us__box borders">
      <h2 class="about-us__title">О нас</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate velit numquam vero magni!
        Perferendis saepe aut mollitia ut, veniam exercitationem nesciunt tenetur rerum corrupti
        nemo, neque dignissimos voluptas natus commodi illum nam non similique labore aliquam iusto
        ipsam ullam nobis architecto? Doloribus atque aliquam ipsum illo cupiditate explicabo at
        laboriosam.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, nulla!</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nisi omnis. Veritatis quisquam
        voluptates maiores corrupti iusto dolore, vero quidem.
      </p>
      <a class="about-us__link borders" href="">Узнать больше</a>
    </div>
  </div>
</section>
