<footer class="footer">
  <div class="container">
    <div class="footer__sm">
      <h2 class="footer__title">Контакты</h2>
      <ul class="footer__sm__list">
        <li class="sm__elem">
          <a href="" class="sm__link">
            <svg class="sm__icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="sm__elem">
          <a href="" class="sm__link">
            <svg class="sm__icon">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="sm__elem">
          <a href="" class="sm__link">
            <svg class="sm__icon">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <address class="footer__contacts">
      <div class="contacts__key">
        <span>Телефон :</span>
        <span>Адрес :</span>
      </div>
      <div class="contacts__value">
        <span>+38093 111 11 11</span>
        <span>+38093 222 22 22</span>
        <span>abc street, 30</span>
      </div>
    </address>
  </div>
</footer>
