<header class="header">
  <div class="header__container">
    <a id="logo" href="index.html">Rice</a>
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__elem main nav__elem--underline"><a href="">Главная</a></li>
        <li class="nav__elem menu"><a href="">Меню</a></li>
        <li class="nav__elem contacts"><a href="">Контакты</a></li>
      </ul>
    </nav>
    <ul class="header__tel">
      <li class="tel__elem">+38093 111 11 11</li>
      <li class="tel__elem">+38093 222 22 22</li>
    </ul>
    <ul class="header__time">
      <li class="time__elem">Mon - Fri 8:00 - 20:00</li>
      <li class="time__elem">Sat - Sun 8:00 - 18:00</li>
    </ul>
  </div>
</header>
