<section class="hero3">
  <div class="container">
    <div class="hero3__img borders">
      <button class="hero3__open open">
        <svg class="close-icon" width="40px" height="40px">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
    <div class="hero3__box borders">
      <ul class="contact-us__list">
        <li class="contact-us__elem">
          <svg class="sm__icon">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
          <p class="contact-us__text">Telegram: t.me/rice</p>
        </li>
        <li class="contact-us__elem">
          <svg class="sm__icon">
            <use href="./images/sprite.svg#icon-viber"></use>
          </svg>
          <p class="contact-us__text">Viber: +38093 111 11 11</p>
        </li>
        <li class="contact-us__elem">
          <div>Tel :</div>
          <p class="contact-us__text">
            <span>+38093 111 11 11</span>
            <span>+38093 222 22 22</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
