<section class="menu-nav">
  <div class="container">
    <ul class="menu-nav__list">
      <li class="menu-nav__elem">
        <a href="#" class="menu-nav__link img-box vok menu-nav__link--decor">ВОК</a>
      </li>
      <li class="menu-nav__elem">
        <a href="#" class="menu-nav__link premium img-box">ПРЕМІУМ</a>
      </li>
      <li class="menu-nav__elem">
        <a href="#" class="menu-nav__link soup img-box">СУПИ & ХОТ-ПОТ</a>
      </li>
      <li class="menu-nav__elem">
        <a href="#" class="menu-nav__link salad img-box">САЛАТИ & СНЕКИ</a>
      </li>
    </ul>
  </div>
</section>
<section class="menu-list">
  <div class="container">
    <ul class="menu-list__list"></ul>
  </div>
</section>
