<section class="menu-nav">
  <div class="container">
    <ul class="menu-nav__list">
      <li class="menu-nav__elem">
        <a href="#" class="menu-nav__link vok borders">ВОК</a>
      </li>
      <li class="menu-nav__elem">
        <a href="#" class="menu-nav__link soup borders">СУПИ & ХОТ-ПОТ</a>
      </li>
      <li class="menu-nav__elem">
        <a href="#" class="menu-nav__link premium borders">ПРЕМІУМ</a>
      </li>
      <li class="menu-nav__elem">
        <a href="#" class="menu-nav__link salad borders">САЛАТИ & СНЕКИ</a>
      </li>
    </ul>
  </div>
</section>
<section class="menu-list">
  <div class="container">
    <ul class="card__list menu-list__list"></ul>
  </div>
</section>
