<section class="special-offers">
  <div class="container">
    <h2 class="special-offers__title">Специальное предложение</h2>
    <ul class="special-offers__list">
      <li class="special-offers__elem">
        <img src="./images/main/special-offers1.png" alt="pho-bowl" class="special-offers__img" />
        <h3 class="special-offers__name">Pho</h3>
        <p class="special-offers__price">Price: 120$</p>
        <p class="special-offers__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ea ipsa accusantium magnam
          quasi quo?
        </p>
      </li>
      <li class="special-offers__elem">
        <img src="./images/main/special-offers2.png" alt="pho-bowl" class="special-offers__img" />
        <h3 class="special-offers__name">Pho</h3>
        <p class="special-offers__price">Price: 120$</p>
        <p class="special-offers__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ea ipsa accusantium magnam
          quasi quo?
        </p>
      </li>
      <li class="special-offers__elem">
        <img src="./images/main/special-offers3.png" alt="pho-bowl" class="special-offers__img" />
        <h3 class="special-offers__name">Pho</h3>
        <p class="special-offers__price">Price: 120$</p>
        <p class="special-offers__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ea ipsa accusantium magnam
          quasi quo?
        </p>
      </li>
    </ul>
  </div>
</section>
