.about-us {
  .container {
    position: relative;
    height: 995px;
  }
  &__img {
    @include shadow(15px, 30px);
    position: absolute;
    top: 130px;
    right: 630px;
    width: 482px;
    height: 600px;
    border: 2px solid var(--white-color);
    border-radius: 20px;
    z-index: 1;
  }
  &__box {
    position: absolute;
    top: 255px;
    right: 25px;
    width: 679px;
    height: 600px;
    padding: 20px 20px 50px 20px;
    border: 2px solid var(--white-color);
    border-radius: 20px;
    background-color: var(--grey-color);
  }
  &__title {
    @include font(70px, 400, 82px);
    text-align: center;
  }
  & p {
    @include font(20px, 400, 24px);
    margin: 10px 0 0 80px;
  }
  &__link {
    @include font(30px, 400, 35px);
    width: fit-content;
    margin: 65px 0 0 250px;
    padding: 15px 50px;
    border: 2px solid var(--white-color);
    border-radius: 30px;
    text-align: center;
    background-color: var(--red-color);
  }
}
