.footer {
  border-top: 2px solid var(--white-color);
  background-color: var(--dark-grey-color);
  .container {
    @include min-width('large') {
      display: flex;
      padding-bottom: 40px;
    }
  }
  &__title {
    @include font(24px, 400, 32px);
    display: block;
    margin-bottom: 8px;
    @include min-width('large') {
      @include font(32px, 400, 40px);
    }
  }
  &__sm {
    margin-bottom: 16px;
    &__list {
      display: flex;
      justify-content: space-between;
      width: 160px;
    }
  }
  &__contacts {
    @include font(16px, 400, 24px);
    display: flex;
    width: fit-content;
    margin-left: auto;
    font-style: normal;
    @include min-width('large') {
      @include font(24px, 400, 32px);
    }
    span {
      display: block;
    }
    .contacts__key {
      margin-right: 16px;
      text-align: right;
      & span:last-child {
        margin-top: 24px;
        @include min-width('large') {
          margin-top: 32px;
        }
      }
    }
  }
}
.sm {
  &__icon {
    width: 40px;
    height: 40px;
  }
}
