.footer {
  border: 2px solid var(--white-color);
  background-color: var(--dark-grey-color);
  &__container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    padding: 32px 48px 48px 320px;
  }
  &__title {
    @include font(24px, 400, 32px);
  }
  &__contacts {
    @include font(24px, 400, 32px);
    display: flex;
    font-style: normal;
    & span {
      display: block;
    }
  }
}
.contacts {
  &__key {
    margin-right: 16px;
    text-align: end;
    & span:last-child {
      margin-top: 48px;
    }
  }
  &__value span:last-child {
    margin-top: 16px;
  }
}
