.menu-nav {
  .container {
    padding-bottom: 16px;
    @include min-width('large') {
      padding-bottom: 40px;
    }
  }
  border-top: 2px solid var(--white-color);
  border-bottom: 2px solid var(--white-color);
  background-color: var(--dark-grey-color);
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__elem {
    @include shadow(0, 16px);
    margin-right: 8px;
    margin-bottom: 4px;
    @include min-width('large') {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }
  &__link {
    @include font(16px, 400, 24px);
    background-color: var(--red-color);
    padding: 4px 12px;
    @include min-width('large') {
      @include font(24px, 400, 32px);
    }
  }
}
.menu-list {
  background-color: var(--grey-color);
}
